<html>

<link rel="stylesheet" href="/static/panel/main_panel_style.css" type="text/css">

  <main>
    <header>
      <nav id="nav-bar">
        <ul>
          <li><a href="#about">About</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </header>
 
    <div id="welcome-section">
 
    </div>
 
    <div class="about-me">
      <h2 id="about">Welcome to Antonio's portal</h2>
      
    </div>
 
    <div class="about-me">
            <h2>Projects</h2>
    </div>
    <span>
      <p>Here's a list of python projects that I developed </p>
    </span>
    <div id="projects">
 
      <div class="proje4ct-tile">
        <figure><img class="img-port" src="/static/panel/docusign.jpg"></figure>
        <h3><a href="/docusign/index" target="1">Digital Sign a PDF file</a></h3>
        <p>Sign your name as watermark on a PDF file</p>
      </div>
    </div>
    <BR>
    <div id="projects">
      <div class="proje4ct-tile">
        <figure><img class="img-port" src="/static/panel/qrcode.png"></figure>
        <h3><a href="/docusign/QR" target="1">Digital Sign (QR Code) a PDF file</a></h3>
        <p>Sign your name as QR Code watermark on a PDF file</p>
      </div>
    </div>



<BR>
    <footer id="contact">
      Please contact me via email at <a href="mailto:antonio.chau@gmail.com">antonio.chau@gmail.com</a>
    </footer>
  </main>

  
      
</body>



</html>