<html>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="/static/panel/main_panel_style.css" type="text/css">
<body data-spy="scroll" data-target="#scrollSpy" data-offset="50">

  <div id="home" class="container-fluid">
    <div class="jumbotron translucent">
      <h1 class="text-primary text-center Three-D"><b>Good Day</b></h1>
      <h2 class="text-center headline">Projects by Antonio</h2>
      <hr class="myHR">
      <div id="projects" class="container-fluid">
  
 


            <div class="col-sm-6 col-md-4 proj-item">
              <a href="https://s.codepen.io/chienchihliu/debug/JXNPvN" target="_blank" class="btn btn_default btn_lg">
                <img src="https://goo.gl/j9OAnw" class="img-responsive">
                <h4 class="portfolio-text">My Portfolio Homepage!</h4>
                <h3 class="small portfolio-text">Projects and Musings</h3>
              </a>
            </div>

 


    
          </div>
        </div>
      </div>
      <div class="centered-container">
        <a class="btn btn-default btn-lg" href="https://github.com/alexliu1/GameMonitor" target="_blank"><i class="fa fa-github"></i> GitHub</a>
        <a class="btn btn-default btn-lg" href="https://www.linkedin.com/in/alex-liu-88560b3" target="_blank"><i class="fa fa-linkedin"></i> LinkedIn</a>
        <a class="btn btn-default btn-lg" href="https://codepen.io/chienchihliu/" target="_blank"><i class="fa fa-codepen"></i> CodePen</a>
        <a class="btn btn-default btn-lg" href="https://www.freecodecamp.com/alexliu1" target="_blank"><i class="fa fa-fire"></i> freeCodeCamp</a>

      </div>
    </div>
  </div>
  <div id="about" class="container-fluid">
    <div class="jumbotron translucent">
      <h1 class="text-primary text-center headline">Who is Alex?</h1>
      <hr class="myHR">
      <div class="row">
        <div class="col-sm-6">
          <p>I am a <b>self-taught</b> web developer with a diverse experience as a IT manager, a SAP ABAP developer, specializing in problem solving and troubleshooting. My passion is technology - ranging from following the latest Intel chip releases to
            the coolest web designs.</p>
          <p>Experiences:</p>
          <ul>
            <li><b>C# Windows App Development</b></li>
            <li><b>Web: HTML5, JQuery, CSS, Bootstrap</b></li>
            <li><b>SAP ABAP, ABAP Web Dyn Pro</b></li>
            <li><b>IT hardware support: network routers, server, PC workstations</b></li>
            <li><b>Language: English and Mandarin Chinese</b></li>
          </ul>
        </div>
        <div class="col-sm-6">
          <img class="img-responsive navbar-collapse collapse img-circle" src="https://goo.gl/OEBeUo">
        </div>
      </div>
    </div>
  </div>
  <div id="projects" class="container-fluid">
    <div class="jumbotron translucent">
      <h1 class="text-primary text-center headline">My Projects</h1>
      <hr class="myHR">
      <div class="row proj-gallery">
        <div class="col-sm-6 col-md-4 proj-item">
          <a href="https://s.codepen.io/chienchihliu/debug/JXNPvN" target="_blank" class="btn btn_default btn_lg">
            <img src="https://goo.gl/j9OAnw" class="img-responsive">
            <h3 class="portfolio-text">My Portfolio Homepage!</h3>
            <h3 class="small portfolio-text">Projects and Musings</h3>
          </a>
        </div>
        <div class="col-sm-6 col-md-4 proj-item">
          <a href="https://codepen.io/chienchihliu/full/MyEBNa/" target="_blank" class="btn btn_default btn_lg">
            <img src="https://goo.gl/eWpf8T" class="img-responsive">
            <h3 class="portfolio-text">Random Quote Machine</h3>
            <h3 class="small portfolio-text">Quotes and Twitter</h3>
          </a>
        </div>
        <div class="col-sm-6 col-md-4 proj-item">
          <a href="https://codepen.io/chienchihliu/full/vGWdKq/" target="_blank" class="btn btn_default btn_lg">
            <img src="https://goo.gl/uZUQvz" class="img-responsive">
            <h3 class="portfolio-text">Weather App</h3>
            <h3 class="small portfolio-text">The Weather</h3>
          </a>
        </div>
        <div class="col-sm-6 col-md-4 proj-item">
          <a href="https://codepen.io/chienchihliu/full/aNEQbX/" target="_blank" class="btn btn_default btn_lg">
            <img src="https://goo.gl/AYtvsD" class="img-responsive">
            <h3 class="portfolio-text">Wiki-Viewer App</h3>
            <h3 class="small portfolio-text">Shortcut to the Wikipedia</h3>
          </a>
        </div>
        <div class="col-sm-6 col-md-4 proj-item">
          <a href="https://codepen.io/chienchihliu/full/BKYVzg/" target="_blank" class="btn btn_default btn_lg">
            <img src="https://goo.gl/KT1uQ0" class="img-responsive">
            <h3 class="portfolio-text">Twitch TV App</h3>
            <h3 class="small portfolio-text">Twitch TV API Exercise</h3>
          </a>
        </div>
        <div class="col-sm-6 col-md-4 proj-item">
          <a href="https://github.com/alexliu1/GameMonitor" target="_blank" class="btn btn_default btn_lg">
            <img src="https://goo.gl/mMMWth" class="img-responsive">
            <h3 class="portfolio-text">Windows App in C#</h3>
            <h3 class="small portfolio-text">Game Time Monitoring</h3>
          </a>
        </div>
        <div class="col-sm-6 col-md-4 proj-item">
          <a href="https://codepen.io/chienchihliu/full/grmQKb/" target="_blank" class="btn btn_default btn_lg">
            <img src="https://goo.gl/6WfIQh" class="img-responsive">
            <h3 class="portfolio-text">Sun Yat Sen</h3>
            <h3 class="small portfolio-text">Tribute Story</h3>
          </a>
        </div>

      </div>
    </div>
  </div>
  <div id="contacts" class="container-fluid">
    <div class="jumbotron translucent">
      <h1 class="text-center headline">Contact Info</h1>
      <hr class="myHR">
      <div class="row">
        <div class="col-sm-6">
          <p>Email: cc.alex.liu@gmail.com</p>
        </div>
        <div class="col-sm-6">
          <div class="container-fluid" align="right">
            <ul class="button-list">
              <li style="margin-bottom: 10px">
                <a class="btn btn-default btn-lg" href="https://github.com/alexliu1/GameMonitor" target="_blank"><i class="fa fa-github"></i> GitHub</a>
              </li>
              <li>
                <a class="btn btn-default btn-lg" href="https://www.linkedin.com/in/alex-liu-88560b3" target="_blank"><i class="fa fa-linkedin"></i> LinkedIn</a>
              </li>
              <li>
                <a class="btn btn-default btn-lg" href="https://codepen.io/chienchihliu/" target="_blank"><i class="fa fa-codepen"></i> CodePen</a>
              </li>
              <li>
                <a class="btn btn-default btn-lg" href="https://www.freecodecamp.com/alexliu1" target="_blank"><i class="fa fa-fire"></i> freeCodeCamp</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<footer>
  <link href='https://fonts.googleapis.com/css?family=Sarpanch:600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</footer>

</html>