main {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: absolute;
}
header {
  float: right;
  width: 100%;
  text-align: right;
  position: fixed;
  background-color: #ffffff;
}
nav ul li {
  list-style-type: none;
  display: inline;
  font-size: 20px;
  font-weight: 500;
  padding-right: 50px;
}
#nav-bar a {
  text-decoration: none;
  color: rgba(65, 63, 63, 0.884);
}
#nav-bar a:hover {
  color: rgb(66, 6, 122);
}
#welcome-section {
  display: flex;
  flex-direction: row;
  padding-top: 155px;
  height: 100%vh;
}
.image {
  width: 500px;
  height: 300px;
}
h1 {
  letter-spacing: 7px;
  font-weight: 680;
  color: #011640;
}
h2 {
  font-weight: 400;
  color: #011640;
}
.titles {
  margin-left: 150px;
}
.title-project h2 {
  text-align: left;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 3px;
  width: 100%;
}
#projects {
  background-color: rgba(239, 240, 218, 0.622);
  margin-left: 250px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
}
span {
  text-align: left;
  margin-left: 350px;
  margin-right: 150px;
}
span p {
  text-align: left;
  margin-left: 200px;
  font-size: 25px;
}
.about-me {
  text-align: left;
  margin-right: 80px;
  margin-left: 180px;
  background-color: #ffffff;
}
.about-me h2 {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 3px;
  color: #011640;
}
.about-me p {
  letter-spacing: 1px;
  font-size: 25px;
}
.img-port {
  width: 100px;
  height: 100px;
}
footer {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  letter-spacing: 1px;
  text-align: center;
  color: rgb(29, 1, 1);
  background-color: #ecf0f7;
}
.footer-img {
  width: 60px;
  height: 60px;
}
.footer-img2 {
  width: 930px;
  height: 60px;
}
@media screen and (max-width: 660px) {
  #nav-bar {
    font-size: 45px;
    text-align: center;
    padding-right: 50px;
    padding-left: 50px;
  }
  nav ul li {
    list-style-type: none;
    font-size: 35px;
    font-weight: 500;
    padding-right: 50px;
  }
  #welcome-section {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  #welcome-section h1 {
    font-size: 60px;
  }
  #welcome-section h2 {
    font-size: 55px;
  }
  #about {
    font-size: 55px;
  }
  .about-me p {
    font-size: 50px;
  }
  .title-project h2 {
    font-size: 55px;
  }
  span p {
    font-size: 47px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
  }
  #projects {
    display: flex;
    flex-direction: column
  }
  .img-port {
    height: 150px;
    width: 150px;
  }
  .project-tile a {
    color: #011640;
    text-align: left;
    font-size: 40px;
    text-decoration: none;
  }
  .project-tile p {
    font-size: 40px;
    width: 100%;
  }
  footer p {
    font-size: 40px;
  }
}
